/* start our framework */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
    position: relative;
}

.hidden {
    display: none;
}

.table {
    height: 100%;
    display: table;
}

.table-row {
    display: table-row;
}

.text-center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.main-color {
    color: #f7600e;
}

.main-background {
    background-color: #f7600e;
}

.overlay {
    background-color: rgba(49, 55, 61, .9);
    width: 100%;
    height: 100%;
}

/* end our framework */

/* start header */

.header {
    background: url('../images/header.png');
    background-size: cover;
    color: #FFF;
}

.header .navbar {
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header .navbar .head {
    font-size: 25px;
}

.header .navbar .links {
    float: right;
}

.header .navbar .links i {
    margin-left: 5px;
}

.header .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .intro h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}

.header .intro p {
    margin: 5px 0 40px;
    line-height: 1.9;
    font-size: 20px;
    color: #E2E2E2;
}

.header .buttons button {
    color: #FFF;
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 15px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    outline: none;
}

.header .buttons button:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #FFF;
}

.header .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}

.header .arrow i {
    border: 2px solid #7B7B7B;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    line-height: 31px;
    cursor: pointer;
}

/* end header */

/* start features */

.features {
    padding: 60px 0;
    overflow: hidden;
}

.features .box {
    float: left;
    width: 22%;
}

.features .box:not(:last-child) {
    margin-right: 4%;
}

.features .box i {
    color: #f7600e;
    border: 1px solid #DDD;
    width: 48%;
    height: 48%;
    border-radius: 50%;
    line-height: 100px;
    padding: 15px;
    transition: all .5s ease-in-out;
}

.features .box i:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #FFF;
}

.features .box h3 {
    text-transform: uppercase;
    font-weight: 400;
    color: #444;
}

.features .box p {
    color: #777;
    line-height: 1.8;
}

/* end features */

/* start subscrib section */

.subscribe {
    background: url(../images/sub.png);
    background-size: cover;
    background-attachment: fixed;
}

.subscribe form {
    padding: 100px 0;
    width: 700px;
    margin: auto;
    text-align: center;
}

.subscribe form input[type="email"] {
    padding: 0 15px 0;
    width: 400px;
    font-size: 18px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none;
    height: 38px;
    line-height: 38px;
    outline: none;
}

.subscribe form button {
    padding: 10px;
    width: 160px;
    background-color: #f7600e;
    border: none;
    color: #FFF;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
}

.subscribe form button:hover {
    letter-spacing: 1px;
}

/* end subscrib section */

/* start our-work */

.our-work {
    padding: 50px 0;
}

.our-work h2 {
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 0;
}

.our-work h2 ~ p {
    line-height: 2;
    margin: 10px 0 40px;
}

.our-work .items-box {
    overflow: hidden;
}

.our-work .items-box .item {
    float: left;
    width: 30%;
    overflow: hidden;
    margin-left: 1.333333%;
    margin-bottom: 12px;
    border-radius: 10px;
    position: relative;
    height: 330px;
}

.our-work .items-box .item:hover .over {
    opacity: 1;
}

.our-work .items-box .item img {
    width: 100%;
    height: 100%;
}

.our-work .items-box .item .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 96, 14, .9);
    color: #FFF;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.our-work .item .over h4 {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 0;
}

.our-work .item .over p {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.7;
}

.our-work .item .over button {
    background-color: transparent;
    border: 1px solid #FFF;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    transition: all .5s ease-in-out;
    cursor: pointer;
    outline: none;
}

.our-work .item .over button:hover {
    background-color: #FFF;
    border: 1px solid #FFF;
    color: #f7600e;
}

.our-work .show-more {
    background: transparent;
    border: 1px solid #CCC;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #555;
    transition: all .5s ease-in-out;
    cursor: pointer;
    outline: none;
}

.our-work .show-more:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
    color: #FFF;
}

/* end our-work */

/* start testimonials */

.testim {
    background: url(../images/woman.png);
    background-size: cover;
    background-attachment: fixed;
}

.testim .client {
    padding: 40px 0;
    color: #FFF;
    font-size: px
}

.testim .client img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.testim .client p {
    line-height: 2;
    font-style: italic;
    padding: 20px 0;
}

.testim .fa-chevron-right,
.testim .fa-chevron-left {
    position: absolute;
    top: 50%;
    color: #999;
    cursor: pointer;
}

.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover {
    color: #f7600e;
}

.testim .fa-chevron-right {
    right: 0;
}

.testim .fa-chevron-left {
    left: 0;
}

/* end testimonials */

/* start our team */

.our-team {
    padding: 50px 0;
}

.our-team h2 {
    font-weight: normal;
    font-size: 35px;
    margin-bottom: 0;
}

.our-team .main {
    margin: 10px 0 40px;
    line-height: 2;
    color: #666;
    font-size: 20px;
}

.our-team .the-team {
    overflow: hidden;
}

.our-team .the-team .person {
    float: left;
    width: 24%;
    margin-left: 1%;
    color: #888;
}

.our-team .the-team .person:hover img {
    filter: none;
    filter: grayscale(0);
}

.our-team .the-team .person:hover {
    color: #555;
}

.our-team .the-team .person:hover .fa-google-plus-g {
    background-color: #dc4e41;
}

.our-team .the-team .person:hover .fa-facebook-f {
    background-color: #3b5998;
}

.our-team .the-team .person:hover .fa-twitter {
    background-color: #55acee;
}

.our-team .the-team .person img {
    width: 219px;
    height: 290px;
    filter: gray;
    filter: grayscale(1);
    transition: all .3s ease-in-out;
}

.our-team .the-team .person h3 {
    font-weight: normal;
    font-size: 25px;
    transition: all .3s ease-in-out;
}

.our-team .the-team .person p {
    font-size: 15px;
    transition: all .3s ease-in-out;
}

.our-team .the-team .person .social-icons i {
    background-color: #909090;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    border-radius: 50%;
    margin: 10px 7px;
    transition: all .3s ease-in-out;
}

/* end our team */

/* start contact form  */

.contact {
    background: url(../images/city.png);
    background-size: cover;
}

.contact .overlay {
    padding: 50px 0;
    color: #FFF;
}

.contact h2 {
    font-size: 35px;
}

.contact p {
    line-height: 1.8;
    color: #999;
}

.contact form {
    width: 700px;
    text-align: center;
    margin: 50px auto;
    overflow: hidden;
}

.contact form input[type="text"], 
.contact form input[type="email"] {
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid #FA6E5A;
    border-left: 4px solid #FA6E5A;
    border-right: 4px solid #FA6E5A;
    background-color: transparent;
    outline: none;
    color: #FFF;
}

.contact form input [type="text"] {
    float: right;
}

.contact form input[type="email"] {
    float: left;
    margin-right: 2%;
}

.contact form textarea {
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #FA6E5A;
    border-left: 4px solid #FA6E5A;
    border-right: 4px solid #FA6E5A;
    outline: none;
    color: #FFF;
}

.contact form .info {
    overflow: hidden;
    margin-top: 15px;
}

.contact form .info button {
    float: left;
    padding: 10px;
    width: 160px;
    background-color: transparent;
    border: 1px solid #FA6E5A;
    color: #FFF;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    outline: none;
}

.contact form .info button:hover {
    border: 1px solid #f7600e;
    background-color: #f7600e;
    color: #FFF;
    letter-spacing: 2px;
}

.contact form .info .form-icons {
    float: right;
}

.contact form .info .form-icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.contact form .info .form-icons .fa-google-plus-g {
    background-color: #dc4e41;
}

.contact form .info .form-icons .fa-facebook-f {
    background-color: #3b5998;
}

.contact form .info .form-icons .fa-twitter {
    background-color: #55acee;
}

/* end contact form  */

/* start footer */

.footer {
    background-color: #3b434c;
    color: #FFF;
    overflow: hidden;
    padding: 30px 0;
}

.footer .copyright {
    float: left;
}

.footer .design {
    float: right;
}

/* end footer */